/* Reset and Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
.main_container_form {
  height: 100vh;
  display: flex;
}

/* Sidebar */
.sidebar_form {
  position: relative;
  flex-basis: 40%;
  background: #ebeae8 url("sign_up_bg.jpg") no-repeat center/contain;
  box-shadow: 20px 20px 400px #ccc;
}

/* Logo */
.odin_logo {
  height: 25%;
  background: rgba(114, 110, 109, 0.12) url(samurai_logo.png) no-repeat
    center/contain;
  backdrop-filter: blur(10px);
  position: relative;
  top: 15%;
  box-shadow: 20px 20px 40px #ccc;
}

/* Main Form Container */
.sign_up_form {
  flex-basis: 60%;
}

/* Texts and Legends */
.disclaimer_form,
legend {
  margin-left: 10%;
  font-family: "Caveat", cursive;
}

.disclaimer_form {
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 1.8em;
}

legend {
  margin-bottom: 2%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
}

/* Form */
form {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-left: 10%;
  box-shadow: 20px 20px 400px #ccc;
}

label,
input {
  display: flex;
  margin: 0 0 3% 0%;
  border-radius: 4px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bolder;
}

label {
  margin: 0 0 2% 0%;
}

.form_section_first_column,
.form_section_second_column {
  flex: 1;
}

/* Input Fields */
input {
  width: 60%;
  padding: 5px;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
}

input.error {
  border: 2px solid red;
}

input:focus {
  border: 2px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2);
}

/* Buttons and Errors */
.button_submit {
  padding: 10px 50px;
  background-color: #8f191d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 10% 0 5%;
}

.button_submit:hover {
  background-color: #fa060e;
}

.error-text {
  color: red;
  font-size: 0.9em;
  display: none;
}

/* Log In Text */
.log_in_text {
  display: flex;
  padding: 2% 0 0 10%;
  font-size: 1em;
}

#log_in {
  margin-left: 1%;
  font-style: italic;
  color: #8f191d;
  cursor: pointer;
}
